* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f0f0;
  font-family: "Inter", sans-serif;
  font-size: 13px;
}

.calc-container {
  position: absolute;
  top: 20%;
  right: 20%;
  text-align: center;
  padding-top: 2%;
  width: 500px;
}

.screen {
  background-color: #807d7d;
  padding: 20px 30px;
  color: #fff;
  text-align: end;
}

.num {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.btn {
  background-color: #d3cfcb;
  padding: 15px 0;
}

.btn:nth-child(4n) {
  background-color: #f5913e;
}

.bottom {
  display: grid;
  margin-top: 2px;
  grid-column-gap: 2px;
  grid-template-columns: 2fr 1fr 1fr;
}

.btn-equals {
  background-color: #f5913e;
  padding: 15px 30px;
}

.btn-zero {
  grid-column: 1/3;
}

.calculate {
  align-items: center;
  padding: 30px 100px;
}

.start {
  font-size: 20px;
}
